PORT=5000
mongodb+srv://nyatony:nyatony1234@cluster0.mbvsohz.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@nyatony.com
ADMIN_PASSWORD=Admin@2026
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
